<div id="portfolio-page">


    <div id="portfolio-intro">

        <div id="portfolio-image">
            <img src="assets/images/icons/logorendrykimelo.png" alt="Portfolio Image">
        </div>

    </div>

    <div id="portfolio-start">
        
       <h2>Portfólio</h2>

        <p>Esse é o meu Portfólio, constando algumas informações mais detalhadas sobre minha trajetória acadêmica e profissional. Se você só quer ver meu currículo, clique no botão abaixo.</p>
        <div id="portfolio-button">

            <a id="bttn-curriculo" href="/curriculo">Ver Currículo</a>

        </div>

    </div>

    <div id="portfolio-content">

        <div id="about-me" class="portfolio-description">
            <h2>Quem sou eu?</h2>
            <p>Eu sou o <strong>Rendryki</strong>, estudante de Veterinária Na Universidade Federal de Viçosa e oriundo da Região Metropolitana de Belo Horizonte. </p> 

            <p>Minha vida acadêmica iniciou no ensino médio, quando cursei o curso <strong>Técnico em Automação Industrial</strong> no Instituto Federal de Minas Gerais. Após essa etapa, ingressei na Universidade Federal de Minas Gerais para realizar uma graduação em <strong>Engenharia Elétrica</strong>. (rapidamente percebi que não era a trajetória correta para mim!). </p>

            <p>Após me aventurar pela UFMG por um breve período, entrei no mundo da tecnologia através da graduação em <strong>Sistemas de Informação</strong> pela PUC Minas. Essa experiência me permitiu desenvolver habilidades que jamais imaginei utilizar na Medicina Veterinária, mas que surpreendentemente tem se provado bastante úteis.</p>

            <p>Saí da PUC no meio da graduação e ingressei na Universidade Federal de Viçosa para realizar o curso de <strong>Medicina Veterinária</strong>, que sempre foi um sonho profissional para mim. E aqui estou!</p>
        </div>

        <div id="professional-interests" class="portfolio-description">
            <h2>Quais meus interesses profissionais?</h2>
            <p>Na minha atual graduação, sempre mantive um grande interesse pela área de <strong>Diagnóstico por Imagem e Videocirurgia de Cães e Gatos</strong>. Entretanto, meu interesse pela tecnologia não foi deixado de lado, visto que essa área se complementa com os conhecimentos adquiridos em ambos os campos.</p>
        </div>

        <div id="academic-projects" class="portfolio-description">
            <h2>Meus Projetos Acadêmicos</h2>
            <p>Dentre meus projetos mais relevantes, estão minha <strong>Iniciação Científica</strong>, onde realizo uma pesquisa relevante que integra a área da Patologia Veterinária com a Tecnologia e Inteligência Artificial.</p>

            <p>Além disso, participo ativamente como <strong>Diretor de Marketing</strong> da Empresa Júnior <strong>Veterinarius</strong>, atuo também no Marketing da <strong>Liga Acadêmica de Patologia Veterinária</strong> da UFV e já tive experiência como membro do Grupo de Medicina Felina da UFV. Isso tudo dentre outras experiências. </p>
        </div>

        <div id="experiences" class="portfolio-description">
            <h2>Minhas Experiências</h2>
            <p>Minha jornada profissional na Veterinária iniciou-se através de estágios em áreas diversas, incluindo uma experiência com gado de leite na Unidade de Ensino e Pesquisa de Gado de Leite da UFV. Meu outro estágio foi na Clínica e Cirurgia de Grandes Animais da UFV.</p>

            <p>Fora dos estágios formais, tive experiência como membro da Diretoria de Marketing da Liga Acadêmica de Patologia Veterinária, bem como da Empresa Júnior Veterinarius, onde sou atualmente Diretor de Marketing.</p>
        </div>

        <div id="certifications" class="portfolio-description">
            <h2>Minhas Certificações</h2>
            <p>Se for pra citar todos os meus certificados, esse website vai ter 16 abas distintas. Mas é relevante citar que possuo uma gama de certificações em atividades teóricas e práticas, minicursos, palestras e eventos voltados não apenas para a Medicina Veterinária, mas também para a <strong>Tecnologia</strong>. Isso sem contar as habilidades e competências adquiridas mas que não possuem certificações oficiais.</p>
        </div>

        <div id="habilities" class="portfolio-description">
            <h2>Minhas Habilidades</h2>
            <p>Dentre minhas habilidades que julgo relevantes, possuo fluencia em <strong>Inglês</strong> e um nível relativamente razoável em <strong>Espanhol</strong> e em <strong>Francês</strong>. </p>

            <p>E claro, não posso deixar de fora as habilidades com tecnologias, visto que eu mesmo criei esse portfolio que você está visualizando.</p>
        </div>

        <div id="ending">
            <p>Até o momento, é isso! Obrigado por visitar meu portfolio! Estou sempre aberto a novas oportunidades e colaborações.</p>
        </div>

        <div id="portfolio-image-footer">
            <img src="assets/images/icons/logorendrykimelohorizontal.png" alt="Portfolio Image">
        </div>

    </div>

</div>