#portfolio-intro{
    background-color: var(--main-color);
    margin: 0px;
    padding: 80px;
    text-align: center;
}

#portfolio-intro h2{
    background-color: transparent;
    color: var(--bg-color);
    font-family: var(--highlight-font);
    font-size: 4em;
    margin: auto;
    text-align: center;
    letter-spacing: 0.3em;
    padding: 10px 0px;
}

#portfolio-intro p{
    background-color: transparent;
    color: var(--bg-color);
    font-size: 1.2em;
    font-weight: lighter;
    width: 65%;
    margin: auto;
    text-align: left;
    padding: 10px 0px;
}

#portfolio-content{
    width: 80%;
    margin: 50px auto;
}

#btn-portfolio-type-wrapper{
    width: 90%;
    margin: 0px auto;
    text-align: end;
}

#btn-portfolio-type{
    width: 200px;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    font-family: var(--highlight-font);
    font-size: 1.2em;
    letter-spacing: 0.1em;
}   

@media only screen and (max-width: 699px){
    #portfolio-intro p{
        width: 95%;
        margin: 0px auto;
        padding: 10px 0px;
    }

    #portfolio-intro h2{
        font-size: 10vw;
    }

    #portfolio-intro{
        padding: 80px 20px;
    }
}