<div id="portfolio-page">


    <div id="portfolio-intro">
        
        <h2>Portfolio</h2>

        <p>Essa é a aba “Portfólio”, aqui você poderá acessar diversas informações sobre minha vida acadêmica e profissional. Com uma pegada mais voltada para um currículo.</p>
        <p> Ao inicio da aba, você poderá selecionar entre ver meu portfólio simplificado ou meu portfólio mais detalhado. É você quem decide!</p>

    </div>

    <div id="portfolio-content">

        <div id="btn-portfolio-type-wrapper">
            <button (click)="changeValue()" id="btn-portfolio-type">{{btnText}}</button>
        </div>

        <div *ngIf="isDone">
        
            <app-portfolio-simplificado></app-portfolio-simplificado>
        
        </div>

        <div *ngIf="!isDone">

            <app-portfolio-detalhado></app-portfolio-detalhado>            
    
        </div>
    
    </div>

</div>