<div id="portfolio-page">


    <div id="galery-intro">
        
        <h2>Galeria</h2>

        <p>Essa é a minha Galeria, aqui eu jogo algumas fotos da minha trajetória que eu julgo interessantes e quero compartilhar!</p>

    </div>

    <div id="galery-content">
        <div id="images-list">
            <div class="image-item"><img src="../../assets/images/galeria/foto1.png" alt="Description of Image 1"></div>
            <div class="image-item"><img src="../../assets/images/galeria/foto2.png" alt="Description of Image 2"></div>
            <div class="image-item"><img src="../../assets/images/galeria/foto3.png" alt="Description of Image 3"></div>  
            <div class="image-item"><img src="../../assets/images/galeria/foto4.png" alt="Description of Image 4"></div>
            <div class="image-item"><img src="../../assets/images/galeria/foto5.png" alt="Description of Image 5"></div>
            <div class="image-item"><img src="../../assets/images/galeria/foto6.png" alt="Description of Image 6"></div>   
            <div class="image-item"><img src="../../assets/images/galeria/foto7.png" alt="Description of Image 7"></div>   
            <div class="image-item"><img src="../../assets/images/galeria/foto8.png" alt="Description of Image 8"></div>   
            <div class="image-item"><img src="../../assets/images/galeria/foto9.png" alt="Description of Image 9"></div>   
        </div>
    </div>

</div>