<div id="portfolio-simplificado-page">

    <div id="portfolio-simplificado-academico">
        
        <h2>Histórico Acadêmico</h2>
        
        <div id="ufv">
            
            <div class="instituicao">
                <img class="instituicao-img" src="../../assets/images/portfolio-icons/university.png" alt="icon universidade">
                <p class="instituicao-name">Universidade Federal de Viçosa | 01/2024 - Em Curso</p>
            </div>

            <div class="course">
                <img class="course-img" src="../../assets/images/portfolio-icons/cow.png" alt="icon cow">
                <p class="course-name">Graduação em Medicina Veterinária.</p>
            </div>

        </div>

        <div id="ifmg">

            <div class="instituicao">
                <img class="instituicao-img" src="../../assets/images/portfolio-icons/student.png" alt="icon student">
                <p class="instituicao-name">Instituto Federal de Educação, Ciência e Tecnologia de Minas Gerais - Campus Ibirité | 01/2019 - 12/2021</p>
            </div>

            <div class="course">
                <img class="course-img" src="../../assets/images/portfolio-icons/engeneering.png" alt="icon engeneering">
                <p class="course-name">Ensino médio e técnico integrado em Automação Industrial.</p>
            </div>

        </div>

    </div>

    <div id="portfolio-simplificado-profissional">

        <h2>Histórico Profissional</h2>

        <div id="UEPE">

            <div class="location-work">
                <img class="location-work-img" src="../../assets/images/portfolio-icons/cow-head.png" alt="icon cow head">
                <p class="location-work-name">Unidade de ensino, pesquisa e extensão em gado de leite - UFV | 03/2024 - 06/2024</p>
            </div>

            <div class="work-fuctions">
                <img class="work-fuctions-img" src="../../assets/images/portfolio-icons/cow.png" alt="icon cow">
                <p class="work-fuctions-descrition">Estágio não remunerado voluntário na condução do experimento científico: “Efeito dos níveis crescentes de proteína solúvel da dieta de novilhas holandesas”.</p>
            </div>
        </div>

    </div>

    <div id="portfolio-simplificado-habilidades">

        <h2>Habilidades</h2>

        <div id="idiomas">
            <div id="idiomas-wrapper">
                <img id="idiomas-img" src="../../assets/images/portfolio-icons/idiomas.png" alt="icon languages">
                <p>Idiomas</p>    
            </div>

            <ul id="idiomas-list">
                <li>
                    <img class="lang-img" src="../../assets/images/portfolio-icons/ingles.png" alt="icon english">
                    <p>Inglês - Fluente</p>
                </li>

                <li>
                    <img class="lang-img" src="../../assets/images/portfolio-icons/espanhol.png" alt="icon espanõl">
                    <p>Espanhol - Básico</p>
                </li>

                <li>
                    <img class="lang-img" src="../../assets/images/portfolio-icons/frances.png" alt="icon français">
                    <p>Francês - Básico</p>
                </li>
            </ul>
        </div>

    </div>

    <img id="dog-sit" src="../../assets/images/icons/dogsit.png" alt="dog sitted">

</div>