<div id="navbar">
    
    <div id="navbar-itens">
        <li class="navbar-item"><a href="/">Início</a></li>
        <li class="navbar-item"><a href="/portfolio">Portfólio</a></li>
        <li class="navbar-item"><a href="/curiosidades">Curiosidades</a></li>
        <li class="navbar-item"><a href="/mundo-vet">Mundo Vet</a></li>
        <li class="navbar-item"><a href="/sobre-mim">Sobre Mim</a></li>
        <li class="navbar-item"><a href="/contato">Contato</a></li>
    </div>
    
    <div id="navbar-logo">
        <img id="navbar-logo-image" src="assets/images/icons/navbarlogo.png" alt="navbar logo image">
    </div>

</div>
