<div id="navbar">
    
    <div id="navbar-itens">
        <li class="navbar-item"><a href="/">Portfólio</a></li>
        <li class="navbar-item"><a href="/curriculo">Currículo</a></li>
        <li class="navbar-item"><a href="/contato">Contato</a></li>
        <li class="navbar-item"><a href="/galeria"> Minha Galeria</a></li>

    </div>
    
    <div id="navbar-logo">
        <img id="navbar-logo-image" src="assets/images/icons/logorendrykimelohorizontal.png" alt="navbar logo image">
    </div>

</div>
