<div id="sobre-mim-page">

    <div id="sobre-mim-intro">

        <img id="intro-cow-pic" src="../../assets/images/friendlycow.png" alt="me and a very friendly cow posing together for a photo">

        <div id="sobre-mim-intro-text-wrapper">
            <h2>Sobre Mim</h2>
            
            <p>Aqui você encontra algumas informações sobre minha vida acadêmica e profissional que eu acho interessantes de serem citadas, mas não relevantes o suficiente para estarem no portfólio. </p>
            <p>Mas espera aí, falo um pouquinho de mim, dos meus hobbies e da minha vida por aqui também.</p>
        </div>

    </div>

    <div id="sobre-mim-my-name">

        <div id="my-name-text-wrapper">

            <h2>Rendryki Melo</h2>
            
            <p>Esse belo jovem de terno sou eu, tenho 20 anos e sou de Belo Horizonte, capital de Minas Gerais. </p>
            <p>Tem muita coisa que eu curto fazer, mas vamos começar falando sobre meus estudos.</p>
        
        </div>

        <img id="tuxedo-pic" src="../../assets/images/tuxedopic.png" alt="me wearing a tuxedo">

    </div>

    <div id="sobre-mim-studying">

        <div id="sobre-mim-text-wrapper">
            <p>Eu extremamente focado na aula da forma mais estudiosa possível</p>
            <img id="arrow-icon" src="../../assets/images/icons/leftarrow-removebg-preview.png" alt="arrow left">    
        </div>

        <img id="studying-pic" src="../../assets/images/studying.png" alt="me studying">

    </div>

    <div id="sobre-mim-snoopy">

        <img id="me-and-snoopy-pic" src="../../assets/images/me&snoopy.png" alt="me and snoopy together posing for a pic">

        <div id="sobre-mim-snoopy-text-wrapper">

            <p>Antes de citar meus outros hobbies, lhes apresento o meu melhor amigo, o Snoopy, que sempre esteve do meu lado desde que nasceu. </p>
            <p>Foi ele quem me ajudou a perceber o meu amor pela Medicina Veterinária e me motivou a correr atrás do meu sonho.</p>

        </div>

    </div>

    <div id="sobre-mim-sports">
        
        <div id="sobre-mim-sports-text-wrapper">

            <p>Agora falando das outras coisa que curto, sou fã de esportes, pratico de tudo um pouco. </p>
            <p>Mas minha praia não acaba só nisso, além praticar, acompanho diversos esportes, gosto de Formula 1 e Basquete, e sou muito fã de Futebol.</p>

        </div>

        <img id="arena-mrv-pic" src="../../assets/images/GALO.png" alt="Arena MRV pic">

    </div>

    <div id="sobre-mim-ending">

        <div id="sobre-mim-ending-text-wrapper">
        
            <p>Por fim, mas não menos importante, gosto demais de videogame, Star Wars e Séries/Filmes no geral. Sou bem nerd (acho que a esse ponto você não tem mais dúvidas sobre isso, mas é sempre bom reforçar né). </p>
            <p>Bom... esse é um resumo legal do que eu sou. “Tamo junto”!</p>
        
        </div>
        
        <img id="ending-pic" src="../../assets/images/approvedUFV.png" alt="me and snoopy recently approved in UFV pic">

    </div>
</div>
