<div id="homepage">

    <div id="homepage-app-intro">

        <img id="logo-myvetfolio-img" src="../../assets/images/icons/logowhite.png" alt="logo MyVetfolio">
        
        <h2>Olá, seja bem vindo ao <strong>MyVetfolio</strong>, meu muito mais do que portfolio profissional! </h2>
        <h2>Aqui você pode acessar minhas informações acadêmicas como um portfólio, mas também diversas outras curiosidades e informações sobre o Mundo Vet.</h2>

    </div>

    <div id="homepage-body">

        <div id="homepage-body-intro">

            <img id="intro-photo" src="../../assets/images/introductionphoto.png" alt="intro-photo-me">

            <div id="intro-text">
    
                <p>Oi, tudo bem? Esse sou eu. Me chamo Rendryki, sou estudante de Medicina Veterinária na Universidade Federal de Viçosa. </p>

                <p>Criei esse site para unir duas das minhas paixões, a Medicina Veterinária e a Tecnologia da Informação. </p>
    
                <p>Nessa página inicial, vou te guiar de forma breve sobre todas as abas disponíveis aqui.</p>
        
            </div>

        </div>

        <div id="homepage-body-portfolio">

            <img id="cat-crossing-p1" src="../../assets/images/icons/catcrossingp1.png" alt="cat crossing">
            
            <h1>
                Portfólio
            </h1>

            <div id="portfolio-text">

                <p>Na aba “Portfólio”, você poderá acessar todas as minhas informações acadêmicas. Minha vida profissional, meus estudos, certificados e muito mais.</p>
                <p>Além disso, você tem a opção de ver todas essas informações de forma simplificada ou de forma mais detalhada, se for do seu interesse.</p>
    
            </div>

        </div>

        <div id="homepage-body-curiosidades">

            <img id="cat-crossing-p2" src="../../assets/images/icons/catcrossingp2.png" alt="cat crossing">
            
            <h1>
                Curiosidades
            </h1>

            <div id="curiosidades-text">

                <p>Na aba “Curiosidades”, você pode acessar algumas pequenas curiosidades que eu acho legais sobre a Medicina Veterinária. </p>
                <p>Além disso, pode descobrir alguma curiosidade sobre seu Pet, ou sobre animais no geral. Te garanto que tem muita coisa legal lá!</p>
    
            </div>

        </div>

        <div id="homepage-body-mundo-vet">

            <img id="cat-crossing-p3" src="../../assets/images/icons/catcrossingp3.png" alt="cat crossing">
            
            <h1>
                Mundo Vet
            </h1>

            <div id="mundo-vet-text">

                <p>Na aba “Mundo Vet”, você poderá acessar inúmeras informações sobre a Medicina Veterinária no Brasil e no Mundo.  </p>
                <p>Nessa aba dá pra tirar algumas dúvidas sobre a Medicina Veterinária no mercado profissional e no meio acadêmico. Bem como o cenário e as diversas áreas de atuações de um Médico Veterinário.</p>
    
            </div>

        </div>

        <div id="homepage-body-sobre-mim">

            <img id="cat-crossing-p4" src="../../assets/images/icons/catcrossingp4.png" alt="cat crossing">
            
            <h1>
                Sobre Mim
            </h1>

            <div id="sobre-mim-text">

                <p>Na aba “Sobre Mim”, você poderá acessar diversas informações que eu gostaria de compartilhar, seja sobre minha vida acadêmica, profissional ou hobbies. </p>
                <p>Acho que algumas coisas poderão te surpreender! </p>
    
            </div>

        </div>

        <div id="homepage-bottom">

            <img id="homepage-bottom-img" src="../../assets/images/icons/catsit.png" alt="cat sitting">
            
            <p><strong>OBS:</strong> Este site foi desenvolvido totalmente por mim, durante minha jornada acadêmica como Estudante.</p>
            
        </div>

    </div>

</div>
