<div id="mundo-vet-page">

    <div id="mundo-vet-intro">
        
        <h2>Mundo Vet</h2>

        <p>Nessa aba, você encontra informações relevantes sobre o meio profissional e acadêmico da Medicina Veterinária no Brasil e no Mundo.</p>

    </div>

    <div id="mundo-vet">

        <h2>Mundo Vet</h2>

        <p>Demografia Veterinária no Brasil:</p>

        <div id="mundo-vet-graficos">
            <img class="mundo-vet-graph-images" src="../../assets/images/graphs/graph1.png" alt="gráfico 1">
            <img class="mundo-vet-graph-images" src="../../assets/images/graphs/graph2.png" alt="gráfico 2">
            <img class="mundo-vet-graph-images" src="../../assets/images/graphs/graph3.png" alt="gráfico 3">
        </div>

        <div id="mundo-vet-salarios">
            <p>Salário médio no Brasil: R$ 5 mil - R$ 8 mil por mês. Dado fornecido pelo Glassdoor.</p>

            <p>Salário médio na Europa: 48 mil Euros por ano. Dado fornecido pelo https://www.veterinaria-atual.pt/na-gestao/portugueses-euros/.</p>

            <p>Salário médio nos EUA: US$ 179.754 por ano. Dado fornecido pelo Glassdoor.</p>
        </div>

    </div>

    <div id="mundo-vet-areas-atuacao" *ngIf="ArrayFilled == true">

        <h2>Areas de atuação</h2>

        <div id="small-array-areas" *ngIf="SmallArray == true">
            <div class="array-items" *ngFor="let c of AreasSmallLength">
                {{c}}
            </div>
        </div>
        
        <div id="big-array-areas" *ngIf="SmallArray == false">
            <div class="array-items" *ngFor="let c of AreasArr">
                {{c}}
            </div>
        </div>
        
        <div class="link-wrapper"><a class="origin-link" href="https://www.crmvse.org.br/areas-de-atuacao-do-medico-veterinario/" target="_blank">www.crmvse.org.br/areas-de-atuacao-do-medico-veterinario/</a></div>

        <div id="btn-wrapper">
            <button id="button-see-more-less" (click)="GetMoreAreas()">{{SeeMoreSeeLess}}</button>
        </div>

    </div>

    <div id="mundo-vet-faculdades">

        <h2>Melhores faculdades do Brasil</h2>

            <table id="mundo-vet-table">
                <thead>
                    <tr>
                        <th>Lugar</th>
                        <th>Universidade</th>
                        <th>Estado</th>
                        <th>Avaliação do Mercado</th>
                        <th>Qualidade do Ensino</th>
                        <th>Nota dos Concluintes</th>
                        <th>Avaliação dos Docentes</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1°</th>
                        <th>USP</th>
                        <th>SP</th>
                        <th>36,00</th>
                        <th>63,92</th>
                        <th>7,92</th>
                        <th>40,00</th>
                    </tr>

                    <tr>
                        <th>2°</th>
                        <th>Unesp</th>
                        <th>SP</th>
                        <th>35,71</th>
                        <th>63,92</th>
                        <th>7,92</th>
                        <th>40,00</th>
                    </tr>

                    <tr>
                        <th>3°</th>
                        <th>UFMG</th>
                        <th>MG</th>
                        <th>35,42</th>
                        <th>63,65</th>
                        <th>7,98</th>
                        <th>40,00</th>
                    </tr>

                    <tr>
                        <th>4°</th>
                        <th>UFV</th>
                        <th>MG</th>
                        <th>33,07</th>
                        <th>59,63</th>
                        <th>8,00</th>
                        <th>36,13</th>
                    </tr>

                    <tr>
                        <th>5°</th>
                        <th>UFLA</th>
                        <th>MG</th>
                        <th>33,07</th>
                        <th>59,55</th>
                        <th>7,73</th>
                        <th>36,13</th>
                    </tr>
                </tbody>
            </table>

            <div class="link-wrapper"><a class="origin-link" href="https://ruf.folha.uol.com.br/2023/ranking-de-cursos/medicina-veterinaria/" target="_blank">ruf.folha.uol.com.br/2023/ranking-de-cursos/medicina-veterinaria/</a></div>

    </div>

</div>