<div id="mundo-vet-page">

    <div id="mundo-vet-intro">
        
        <h2>Mundo Vet</h2>

        <p>Nessa aba, você encontra informações relevantes sobre o meio profissional e acadêmico da Medicina Veterinária no Brasil e no Mundo.</p>

    </div>

    <div id="mundo-vet">

        <h2>Mundo Vet</h2>

    </div>

    <div id="mundo-vet-areas-atuacao">

        <h2>Areas de atuação</h2>

    </div>

    <div id="mundo-vet-faculdades">

        <h2>Melhores faculdades do Brasil</h2>

    </div>

</div>