#mundo-vet-intro{
    background-color: var(--scnd-main-color);
    margin: 0px;
    padding: 80px;
    text-align: center;
}

#mundo-vet-intro h2{
    background-color: transparent;
    color: var(--bg-color);
    font-family: var(--highlight-font);
    font-size: 4em;
    margin: auto;
    text-align: center;
    letter-spacing: 0.3em;
    padding: 10px 0px;
}

#mundo-vet-intro p{
    background-color: transparent;
    color: var(--bg-color);
    font-size: 1.2em;
    font-weight: lighter;
    width: 65%;
    margin: auto;
    text-align: left;
    padding: 10px 0px;
}

#mundo-vet h2, #mundo-vet-areas-atuacao h2, #mundo-vet-faculdades h2{
    background-color: transparent;
    color: var(--scnd-main-color);
    font-family: var(--highlight-font);
    font-size: 4em;
    width: 80%;
    margin: 50px auto;
    letter-spacing: 0.3em;
    padding: 10px 0px;
}