<div id="contato-page">

    <div id="contato-intro">
        
        <h2>Contato</h2>

        <p>Nessa página estão as principais formas que você pode me contactar e todas as minhas redes sociais. </p>
        <p>Dica: se você escrever meu nome certo, há 99,97% de chance de você encontrar o meu perfil em qualquer Rede Social.</p>

    </div>

    <div id="contato-social-medias">

        <h2>Redes Sociais</h2>

        <div id="social-medias-list">
            
            <div id="github">
                <a href="https://github.com/Rendryki" target="_blank"><img class="social-media-logo" src="../../assets/images/icons/github.png" alt="github logo"></a>
                <p>Rendryki</p>
            </div>

            <div id="whatsapp">
                <a href="tel:5531998465458" target="_blank"><img class="social-media-logo" src="../../assets/images/icons/whatsapp.png" alt="whatsapp logo"></a>
                <p>31 99845458</p>
            </div>

            <div id="instagram">
                <a href="https://www.instagram.com/rendryki_/" target="_blank"><img class="social-media-logo" src="../../assets/images/icons/instagram.png" alt="instagram logo"></a>
                <p>rendryki_</p>
            </div>

            <div id="gmail">
                <a href="mailto:rendrykimelo.pro@gmail.com" target="_blank"><img class="social-media-logo" src="../../assets/images/icons/gmail.png" alt="gmail logo"></a>
                <p>rendrykimelo.pro&#64;gmail.com</p>
            </div>

            <div id="twitter">
                <a href="https://twitter.com/Rendryki_" target="_blank"><img class="social-media-logo" src="../../assets/images/icons/twitter.png" alt="twitter logo x"></a>
                <p>Rendryki_</p>
            </div>

            <div id="linkedin">
                <a href="https://www.linkedin.com/in/rendryki-melo/"><img class="social-media-logo" src="../../assets/images/icons/linkedin.png" alt="linkedin logo"></a>
                <p>rendryki-melo</p>
            </div>

        </div>

    </div>

    <div id="contato-send-message">

        <h2>Me mande uma mensagem</h2>

        <div id="send-message-form">
            PLACEHOLDER
        </div>

    </div>

    <div id="contato-ending">
        
        <img id="ending-bye-pic" src="../../assets/images/bye.png" alt="me saying bye to the user">

        <div id="contato-ending-text-wrapper">
            <p>Obrigado pela sua visita! </p>
            <p>Espero que você tenha gostado um pouquinho mais do mundo da Medicina Veterinária depois de ver esse site!</p>
            <h2>Tchau, até breve!!!</h2>
        </div>
    
    </div>

    <div id="endpage-logo">

        <img src="../../assets/images/icons/logoblue.png" alt="endpage logo myvetfolio">
    
    </div>

</div>