<div id="curiosidades-page">

    <div id="curiosidades-intro">

        <img src="../../assets/images/bobbackground.jpg" alt="bobby curiosidades background pic">
        <h2>Curiosidades</h2>

    </div>

    <p>Essa é a aba “Curiosidades”, nessa aba você poderá aprender um pouquinho mais sobre os animais e a Medicina Veterinária.</p>
    <p> Te garanto que pelo menos uma coisa nova você vai aprender por aqui (a não ser que você já seja um médico veterinário).</p>

    <div id="curiosidades">
        <h2>Curiosidades</h2>
        
    </div>
</div>